

*{
  margin: 0;
  
}
body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.app{
  height:100vh;
  width: 100vw;
  background-color: #dadbd3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app_body{
  height:90%;
  width:90%;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px black;
  display: flex;
 
}
.sidebar{
  flex:0.35;
  background-color: white;
  overflow-y: scroll;
}
.sidebar_header{
  display:flex;
  justify-content: space-between;
  border-right: 1px solid lightgray;
  padding:10px;
  background-color: #ededed;
}
.sidebar_headerright svg{
  font-size: 18px;
  
}
.sidebar_search{
  display:flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 40px;
  padding:5px
}
.sidebar_searchContainer{
  display:flex;
  
  align-items: center;
  background-color: #fff;
  height:100%;
  border-radius: 20px;
  width:100%
}
.sidebar_searchContainer input{
  border:0;
  outline: 0;
  width:100%;
  height:30%
}
.sidebar_chats{
  display:flex;
  background-color: #fff;
 flex-direction: column;
 
 justify-content: center;
}
.sidebar__chat{
  display:flex;
 justify-content: flex-start;
  border-bottom: 1px solid #eaeaea;
  padding:10px;

  
 
}
.sidebar__chat:hover{
  cursor: pointer;
  background-color: #ebebeb;
}
.sidebar__chatinfo{
  margin-left: 15px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  
}
.sidebar__chatinfo h3{
  font-size: 16px;
  font-weight: bold;
}
.avatar{
  width:10px;
  height:30px
}
.chat{
  flex:0.65;
  display: flex;
  flex-direction: column;

}
.chat .chat_header{
 
display:flex;

border-bottom: 1px solid lightgray;
 width: 100%;
 align-items: center;
 padding:0px;
 position: relative;
 height:10%
}
.chat_header .chat_headerinfo{
  margin-left: 6px;
  margin-top: 20px;
  flex: 1;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.chat_header .header_right{

  display:flex;
  
  justify-content: center;
  align-items: center;

}
.chat_body{
  background-color: black;
  flex:1;
  background-image: url('./whatsapp background.png');
  overflow-y: scroll;
  padding:20px
}
.chat_body .chatmessage{
  background-color: #fff;
  width:fit-content;
  position: relative;
  padding:6px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 30px;
}
.chat_body .chat_name{
  position: absolute;
  top:-18px;
  left:-10px;
  font-weight: bold;
  font-size:11px ;
   min-width: max-content;
}
.chat_body .chat_time{
  font-weight: bold;
  
}
.chat_receiver{
  background-color: #d6f8c6 !important;
  margin-left: auto;
}
.chat_footer{
  display:flex;
 align-items: center;
  word-break: break-all;
 justify-content: center;

}
.chat_footer form{
  flex:1;
  display:flex;
  align-items: center;
  justify-content: center;
}
.chat_footer form input{
  width:100%;
  border:none;
  outline:none;
  padding:10px;
  border-radius: 10px;
  position:relative
}
input[type="file"] {
  display: none;
}
.MuiPaper-root{
  display:flex;
  flex-direction: column;
}
